! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #292929
#define nord1 #464646
#define nord2 #515151
#define nord3 #e1e1e1 
#define nord4 #ebebeb
#define nord5 #f7f7f7
#define nord6 #a6a6a6
#define nord7 #8fbcbb
#define nord8 #88c0d0
#define nord9 #81A1C1
#define nord10 #4874AB
#define nord11 #C14652
#define nord12 #D06A4A
#define nord13 #ECBE60
#define nord14 #86C154
#define nord15 #B56BA7
#define nord16 #111016
#define nord17 #000000
#define nord18 #FFFFFF
#define nord19 #212126

*.foreground:   nord4
*.background:   nord16
*.cursorColor:  nord4
! *fading: 35
! *fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6
*.color16: nord16
*.color17: nord17
*.color18: nord18
*.color19: nord19

! Fonts
Xft.antialias: true
Xft.hinting:   true
!Xft.rgba:      rgb
Xft.hintstyle: hintfull
Xft.dpi: 82
